@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-primary: #021e41;
  --color-secondary: #215fa6;

  /* Custom fonts */
  --font-primary: "Open Sans", sans-serif;

  /* Custom spacing */
  --spacing-8: 1.8rem;
}

@layer components {
  .icon-position {
    @apply absolute right-[1rem] top-[0.4rem] size-8 sm:size-9;
  }

  .input-position {
    @apply sm:h-12 sm:w-lg h-10 w-xs;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
